<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="{% static 'images/logo.jpg' %}" alt="Company Logo">
            <h1>EncryptoPharama</h1>
        </div>
        <ul class="menu">
            <li><button class="button" onclick="window.location.href='/administrator'">Home</button></li>
        </ul>
    </header>
    <div class="container">
        <div class="signin" id="signin">
            <!-- Manager Login Section -->
            <h2>Add Manager</h2>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="signupfirstname">First Name</label>
                        <input type="text" class="form-control" id="signupfirstname"  name="signupfirstname"  required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="signuplastname">Last Name</label>
                        <input type="text" class="form-control" id="signuplastname"  name="signuplastname"   required>
    
                    </div>
                </div>
                <div class="form-group">
                    <label for="signupemail">Email ID</label>
                    <input type="text" class="form-control" id="signupemail"  name="signupemail"   required>

                </div>
                <div class="form-group">
                    <label for="signupemployeeid">Employee ID</label>
                    <input type="text" class="form-control" id="signupemployeeid"  name="signupemployeeid"  required>

                </div>
                <div class="form-group">
                    <label for="signupmedicine">Medicine</label>
                    <input type="text" class="form-control" id="signupmedicine"  name="signupmedicine"  required>

                </div>
                <div class="form-group">
                    <label for="signupusername">Username</label>
                    <input type="text" class="form-control" id="signupusername"  name="signupusername"  required>

                </div>
                <button type="submit">Submit</button>
            </form>
            {% comment %} <div class="pass"><h4><a href="ManagerSignUp.html">Already Register? Login now</a></h4></div> {% endcomment %}
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
