body {
    font-family: Arial, sans-serif;
    background-color: #baf0f4;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #083838;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.logo img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
    border: none;
    outline: none;
}
.menu {
    display: flex;
}
.menu li {
    list-style: none;
    margin-right: 20px;
}
.menu li:last-child {
    margin-right: 0;
}
.menu li button {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
}
.card {
    margin: 10px 0;
    background-color: #c8f3ed;
    align-items: center;
}
.card-body {
    text-align: center;
    align-items: center;
    justify-content: center;
}
.container {
    padding: 20px;
}
.btn-view, .btn-add {
   
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #198754;
    color:#198754;
    /* transition: background-color 0.3s, transform 0.3s; */
}
.btn-view:hover, .btn-add:hover {
   
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1rem;
    background-color:#198754;
    border: 1px solid #198754;
    color:#ffffff;
    /* transition: background-color 0.3s, transform 0.3s; */
}
#components {
    margin-top: 20px;
    padding: 10px;
    background-color: #c8f3ed;
    border-radius: 5px;
}

.list-group-item {
    text-align: left;
    background-color: #c8f3ed;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-size: 26px;
    transition: background-color 0.3s, transform 0.3s;
}

.list-group-item:hover {
    background-color: #198754;
    color: white;
}
#componentName.form-control{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #198754;
}

button#submit {
    margin-top: 10px;
    border-color:#198754 ;
    color:#198754;
    background-color: transparent;
}
button#submit:hover {
    margin-top: 10px;
    border-color:#198754 ;
    color:#ffffff;
    background-color:#198754;
}