body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7b0f3a;
}
.header {
    background-color: #083838;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size: 40px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.logo img {
    width: 120px; /* Adjust as needed */
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
    border: none;
    outline: none;
}
.menu {
    display: flex;
}
.menu li {
    list-style: none;
    margin-right: 20px;
}
.menu li:last-child {
    margin-right: 0;
}
.menu li button {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
}
.home{
    display:none; 
    padding: 40px;
    margin-left: 30%;
}


h2 {
    font-size: 24px;
    font-style: bold;
}
h3{
    font-size: 20px;
    font-style: bold;
}
h4{
    padding-left: 0px;
}

form {
    margin-top: 30px;
    background-color: whitesmoke;
    font-size: 18px;
    border-radius: 10px;
    display: inline-block; /* Display as inline block */
    text-align: left; /* Align the form elements to the left */

}
.pass{
    position: inline;
}

button {
    border-radius: 5px;
    background-color: #083838;
    color: white;
    border: none;
    padding: 15px 30px; /* Reduced padding compared to home page */
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px; /* Slightly smaller font size */
    margin-left: 30%;
    margin-right: 30%;
}

button:hover {
    background-color: #03045E;
    color: white;
}
/*.section {
    background-color: #90E0EF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;

}*/
.signin,
.signup {
    background-color: whitesmoke;
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 40px;
    text-align: center;
    
}
label {
    display: inline-block; /* Display labels as inline block */
    width: 120px; /* Set a fixed width for labels */
    text-align: right; /* Align label text to the right */
    margin-right: 10px; /* Add some spacing between label and input */
}
input {
    width: 200px; /* Set a width for input fields */
    padding: 5px; /* Add some padding */
    margin-bottom: 10px; /* Add some spacing between input fields */
}