body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ADE8F4;
}

.header {
    background-color: #083838;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 40px;
}

h4 {
    font-size: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo img {
    width: 120px;
    /* Adjust as needed */
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
    border: none;
    outline: none;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li button {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
}

.home {
    display: none;
    padding: 40px;
    margin-left: 30%;
}

.profile-options {
    margin-top: 30px;
    margin-left: 65px;

}

.profile-button {
    border-radius: 50px;
    background-color: #f7d4e2;
    color: #000000;
    border: none;
    padding: 60px;
    margin: 30px;
    margin-top: 2%;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

button:hover {
    background-color: #fcfcfc;
    color: black;
}

/* Beautiful sections */
/* .section {
    background-color: #7b0f3a;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    
} */

.container {
    background-color: #c8f3ed;
    padding: 2em;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 30%;
}

form {

    /* margin: 30px; */
    font-size: 18px;
    border-radius: 10px;
    display: inline-block;
    /* Display as inline block */
    text-align: center;
    /* Align the form elements to the left */

}

.form-group {
    /* background-color: #dbf7f7; */
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.container.signin {
    text-align: center;
}

#signin>form>.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

#signin>form>.form-group>label {
    padding-left: 10px;
}

#signin>h2 {
    text-align: center;
}

#loginusername.form-control, #loginpassword.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #198754;
}

button#login-submit-btn {
    margin-top: 10px;
}

/* button#login-submit-btn {
    margin-top: 10px;
    position: relative;
    background-color: rgb(230, 34, 77);
    border-radius: 5px;
    box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
    background-repeat: no-repeat;
    cursor: pointer;
    box-sizing: border-box;
    width: 154px;
    height: 49px;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

button#login-submit-btn::before {
    content: "";
    background-color: rgb(248, 50, 93);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}

button#login-submit-btn:hover::before {
    width: 100%;
} */

#signin > .pass {
    margin-top: 10px;
    text-align: center; 
}